@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Обнуляющий стиль */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
ol li,
ul li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
	font-size: 14px;
	line-height: 1;
}
input,
button,
textarea {
	font-family: inherit;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
/* -------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

body {
	font-family: "Gilroy";
	background-color: #111428;
	color:#fff;
}

.inner {
	padding: 70px 0px 70px 0px;
}

.block::after {
	content: "";
	display: block;
	width: 1215px;
	height: 1px;
	background-color: #fff;
	margin: 60px auto 60px;
}

.block:last-child::after {
	display: none;
}

.form {
	max-width: 385px;
	margin: 0px auto;
}

.formtitle {
	margin: 0px 0px 40px 0px;
	text-align: center;
}

.title {
	font-weight: 700;
	font-size: 38px;
}

.subtitle {
	font-weight: 500;
	font-size: 16px;
	color: #64B369;
	margin: 22px 0px 0px 0px;
}

.forminput {
	margin: 0px 0px 30px 0px;
}

.input {
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	font-size: 18px;
	padding: 0px 20px;
	color: #000;
}

.input::placeholder {
	color: #777777;
}

.input:focus {
	box-shadow: 0 0 15px #337AB7;
	background-color: #d6ecff;
}

.formlink {
	margin: 0px 0px 30px 0px;
}

.link {
	display: inline-block;
	font-weight: 500;
	font-size: 16px;
	color:#fff;
	position: relative;
	padding: 0px 0px 0px 35px;
}

.link::before {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	background: url('../img/arrow.svg') 0 0 no-repeat;
}

.link:hover::before {
	background: url('../img/arrow_green.svg') 0 0 no-repeat;
}

.link:hover {
	color: #64B369;
}

button {
	cursor: pointer;
	width: 100%;
	height: 50px;
	line-height: 50px;
	display: block;
	font-weight: 700;
	font-size: 24px;
	background-color: #337AB7;
	border-radius: 5px;
	color:#fff;
	margin: 0px 0px 30px 0px;
}

button:hover {
	background-color:#15568f;
}

.formnote {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #AEAEAE;
	margin: 0px 0px 30px 0px;
}

.formbottom {
	text-align: center;
	font-weight: 500;
	font-size: 18px;
}

.reg {
	font-weight: 500;
	font-size: 18px;
	display: inline-block;
	margin: 0px 0px 0px 10px;
	color: #64B369;
}

.reg:hover {
	text-decoration: underline;
}

.checkbox {
	display: none;
}

.checkbox:checked + .checkboxlabel::after {
	content: "";
	position: absolute;
	top: 3.1px;
	left: 4.1px;
	background-color:#337AB7;
	border-radius: 5px;
	height: 12px;
	width: 12px;
}

.checkboxlabel {
	display: inline-block;
	font-weight: 500;
	font-size: 18px;
	margin: 0px 60px 0px 0px;
	padding: 0px 0px 0px 30px;
	position: relative;
	cursor: pointer;
}

.checkboxlabel::before {
	content: "";
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 5px;
	position: absolute;
	top: -1.5px;
	left: 0;
}

.checkboxlabel .reg {
	margin: 0px 0px 0px 0px;
}

.formcheckbox,
.formblockradio {
	margin: 0px 0px 30px 0px;
}

.radio {
	display: none;
}

.radio:checked+.radiolabel::after {
	content: "";
	height: 12px;
	width: 12px;
	background-color: #337AB7;
	position: absolute;
	top: 2.5px;
	left: 4px;
	border-radius: 50%;
}

.radiolabel {
	display: inline-block;
	font-weight: 500;
	font-size: 18px;
	position: relative;
	padding: 0px 0px 0px 30px;
}

.radiolabel::before {
	content: "";
	width: 20px;
	height: 20px;
	background-color: #fff;
	position: absolute;
	top: -1.5px;
	left: 0;
	border-radius: 50%;
}

.formradio {
	display: inline-block;
	margin: 0px 50px 0px 0px;
}

.formradio:last-child {
	margin: 0px 0px 0px 0px;
}